{% extends "layout.html" %}

{% block heading %}
    Registration
{% endblock %}

{% block body %}

     <form action="{{ url_for("registration") }}" method="post"> <!--action é a rota para a qual ele vai mandar a requisição dele-->
         <div class="form-group">
             <br>
        <span>Login</span>
        <br>
        <input type="text" name="login" class="form-control" placeholder="Enter login">
         </div>
        <br>
         <div class="form-group">
        <span>Password</span>
        <br>
        <input type="password" name="password" class="form-control" placeholder="Enter password">
        <br>
         </div>
         <div class="form-group form-check">
        <button type="submit" class="btn btn-danger ">Submit</button>                  <!--quando clicado, ele vai mandar uma requisição post-->
    </form>                                      <!--nessa requisição, ele pega os names do input e cria um dicionário pra ele colocar no corpo da requisição post para a rota pegar esses dados-->



{% endblock %}
